.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  display: none;
}

.checkmark {
  width: 356px;
  height: 356px;
  border-radius: 50%;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  display: none;
}

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  display: none;
}

.checkmark_circle_anim{
  display: inline;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark_anim{
  display: inline;
  animation: scale .3s ease-in-out .4s both, fade 0.7s ease-in-out 0.4s forwards;
}

.checkmark_check_anim {
  display: inline;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}

.crossmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  display: none;
}

.crossmark {
  width: 356px;
  height: 356px;
  border-radius: 50%;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  display: none;
}

.crossmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  display: none;
}

.crossmark_circle_anim{
  display: inline;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark_anim{
  display: inline;
  animation: scale .3s ease-in-out .4s both, fade 0.7s ease-in-out 0.4s forwards;
}

.crossmark_check_anim {
  display: inline;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fade {
  100% {
    opacity: 0;
  }
}
